:root{
    /* --background-color:#865383;
    --background-color-light:#fbeffa;
    --table_thead_color: #e3c2d3;
    --search_and_add_button_color:#e3c2d3;
    --mega_menu_background_color:#9e619a;
    --dashboard_deep_color:#532750;
    --background-color_stepper_circle:#e3c2d3; */
    
    --background-color:var(--background-color);
    --background-color-light:var(--background-color);
    --table_thead_color: var(--background-color);
    --search_and_add_button_color:#8b5cf6;
    --mega_menu_background_color:#00695c;
    --dashboard_deep_color:#191a19;
    --background-color_stepper_circle:#9445c2;
    --widget-three-color:linear-gradient(45deg, var(--background-color) 6%, #4db6ac 100%);


    /* --background-color:#37474f;
    --background-color-light:#eceff1;
    --table_thead_color: #cfd8dc;
    --search_and_add_button_color:#37474f;
    --dashboard_deep_color:#263238;
    --background-color_stepper_circle:#37474f;
     */
}
/* .theme_changer{
    background: var(--background-color);
    cursor: pointer;
    width: 4%;
    padding-left: 1%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: inherit;
    margin-left: 96%;
    margin-top: 24%;
}
.theme_changer i{
    color:white;
    font-size: 21px;
    line-height: inherit;
} 

.theme_change_default_icon .navbar-toggler-icon{
    display: none;
} */

/* Tabs design */
body{
    font-family: Nunito,sans-serif !important;
}
.tabs div>ul{
    background-color:var(--background-color);
    font-size: 0.9rem;
    border: none;
    outline: none;
    padding-bottom: 3px;
    justify-content: left !important;
    padding-top: 3px;
    -webkit-box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
}
.tabs .nav-tabs .nav-link{
    border: none;
    color: rgb(247, 247, 247);
}
.tabs div>ul li{
    background: var(--background-color);
    border-radius: 5px;
    /* -webkit-box-shadow: 1px 1px 2px var(--shadow_color_light2), -1px -1px 2px var(--shadow_color_light2); */
    /* box-shadow: 1px 1px 4px #302f2f, -1px -1px 4px #5f5151; */
    margin: 3px 2px !important;
    padding: 0px 2px !important;

} 
.tabs div>ul li .nav-link i{
    font-size: 0.9rem;
} 
#__BVID__28__BV_tab_controls_{
    background-color: var(--background-color);
}

.tabs .nav-tabs .nav-link.active{
    background:transparent !important;
    color:#d8d8d8!important;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    font-size: 15px !important;
}

.tabs div.nav-tabs .nav-item .nav-link{
    background:linear-gradient(180deg, rgba(77,182,172,1) 6%, rgba(0,121,107,1) 71%);
}
.nav-tab .nav-tabs .nav-link {
    font-size: 25px !important;
    padding: 7px 5px;
}

/* End here Tabs design */

.main .container-fluid{padding: 0 15px !important;}
/*      validation    */
label span.required{
        color:red;
        margin-left: 4px;
}
.breadcrumb{
    margin-bottom: 9px !important;
    padding: 8px 15px;
}
/*       report table      */
.report-table{
    background-color: var(--dashboard_deep_color);
    font-size: 11px;
    margin-bottom: 0px !important;
    border-radius: 10px;
 }
 .report-table thead tr th{
        background-color: var(--background-color);
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 15px;
        color: #fff;
        border-bottom: 1px solid rgb(29, 28, 28);
        border-top: 1px solid rgb(29, 28, 28);
 }
 .report-table tfoot tr th{
         background-color: var(--dashboard_deep_color);
         color: white;
         border-bottom: 1px solid rgb(29, 28, 28);
         border-top: 1px solid rgb(29, 28, 28);
 }
 .report-table tbody tr:nth-child(odd){
         background-color: var(--dashboard_deep_color);
 }
 .report-table tbody tr:nth-child(even){
         background-color: var(--dashboard_deep_color);
 }
 .report-table tr th{
     padding: 0.40rem;
     vertical-align: middle;
     color: white;
     border-bottom: 1px solid rgb(29, 28, 28) !important;
     border-top: 1px solid rgb(29, 28, 28) !important;
     border-left: 1px solid rgb(19, 18, 18) !important;
     border-right: 1px solid rgb(19, 18, 18) !important;
     
 }
 .report-table tr td{
     padding: 0.35rem;
     vertical-align: middle;
     color: white;
     padding: 10px 10px;
     border-bottom: 1px solid rgb(29, 28, 28) !important;
     border-top: 1px solid rgb(29, 28, 28) !important;
     border-left: 1px solid rgb(19, 18, 18) !important;
     border-right: 1px solid rgb(19, 18, 18) !important;
 }
 .report-table tr td:hover{
     background: #212020e0;
 }

 .no-record-found thead tr th{
        text-align: center;
        font-size: 30px;
        padding: 20% 0%;
        color:#e21616bd
     }
     /* .report-table button {
        font-size: 10px;
        padding: 3px;
        display: block;
        margin: auto;
        color:#00151b;
     } */
/*      entry screen      */
.sorting44 {
    font-size: 15px;
    font-weight: bold;
}
.sidebar .sidebar-nav {
    font-size: 12px;
}

div.entry-list div.search fieldset{
        border: 1px solid rgb(27, 26, 26);
        padding: 5px;
        background: var(--background-color-light);
        border-radius: 0px;
        margin-bottom: 5px;
        margin-top: 2px;
        border-radius: .25rem;
}
div.entry-list div.search fieldset legend {
	border-style: none;
	border-width: 0;
	font-size: 12px;
	/* line-height: 11px; */
	margin-bottom: 0px;
	width: auto;
	/* padding: 2px 3px; */
	/* border: 1px solid #cec7c7; */
	/* border-radius: 4px; */
	/* background-color: #504b4b54; */
	color: #0ca3bc;
    font-style: italic;
    display: none;
}
div.entry-list div.search div.card-header{
        border-bottom: 0px;
}
div.entry-list div.search div.mx-datepicker{
        width: auto;
}
div.entry-list .card-header{
        padding: 0.15rem 0.50rem !important;
}
div.entry-list .card-header h5{
        margin-bottom: 0px;
    margin-top: 6px;
    float: left !important;
    font-size: 16px;
}
div.entry-list .card-header button.add{
        float: right !important;
}
div.entry-list .card-header button.add:last-child {
        margin-right: 5px;
}
div.entry-list div.card-body{
        padding: 0px;
        padding-top: 1px;
}
div.entry-list div.card-footer{
    padding: 0.40rem 0.50rem;
    border: 0px;
    margin-top: 1px;
    padding: .75rem 1.25rem;
    background-color: var(--background-color);
    border-top: 1px solid #181717;
}
div.entry-list div.card-footer div.cpagination span:last-child{
        float: right;
}
div.entry-list .btn-action{
    text-align: center;
    display: inline-flex;
}
div.entry-list .btn-action button{
        padding: 1px 6px;
        font-size: 11px;
        max-height: 21px;

}


/*         modal    */
div.modal{
top: 5%;
}
div.modal .modal-header{
        padding: 0.5rem 1rem;
        align-items: center;
}
div.modal .modal-header h5{
        font-size: 16px;
    font-weight: bold;
}
div.entry-list .modal button.add:last-child {
        margin-left: 5px;
}
div.entry-list .modal div.submit, div.entry-form .modal div.submit {
        text-align: center;
        border-top: 1px solid #ddd;
        padding-top: 8px;
}

div .modal-body{
        padding-bottom: 0.5rem;
}

/*         delete     Modal   */

div.delete-modal{

}
div.delete-modal div.modal-footer{
        padding: 0.5rem 1rem;
}



/*select2 css */
.select2css{
    width: 200px;
}

div.select2css div.dropdown-toggle{
    height: 28px !important;
}
div.select2css .dropdown-toggle .clear{
    font-size: 16px !important;
    margin-top: 5px;
}
div.select2css input[type=search], div.select2css input[type=search]:focus{
    margin: -4px 0 0;
}
div.select2css .open-indicator{
    margin: 1px 0 0;
}

div.select2css .open-indicator::before{
    border-width: 2px 2px 0 0;
    height: 8px;
    width: 8px;
}

div.select2css .dropdown-toggle::after{
    content: unset;

}
.btn-secondary.dropdown-toggle {
    border: none !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #ffffff;
    background: var(--dashboard_deep_color);

    
}
/* ************** Add form ************* */

.addForm ol {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 570px;
}

.addForm {
    /*border: solid 1px #d9d9d9;
    border-collapse: unset;
    width: 85%;
    display: block;
    margin: 0 auto;*/
}

.formTitleBar {
    border-top: 1px solid #E0DFDF;
    border-bottom: 1px solid #d6d6d6;
    background-color: #e7e7e7;
    padding-left: 10px;
}

.formTitleBar_edit {
    width: 350px;
    float: left;
    /*background: url(../images/edit_big.png) no-repeat 0px 0px;*/
    padding: 0px 0px 0px 10px;
}

.formTitleBar_edit h2 {
    float: left;
}

.formTitleBar_add {
    width: 350px;
    float: left;
    /*background: url(../images/add_big.png) no-repeat 0px 0px;*/
    padding: 1px 0px 0px 10px;
}

.formTitleBar_add h2 {
    float: left;
}

.formTitleBar_change_pwd {
    width: 350px;
    float: left;
    /*background: url(../images/change_password.png) no-repeat 0px 0px;*/
    padding: 0px 0px 0px 10px;
}

.formTitleBar_change_pwd h2 {
    float: left;
}

.addForm div img {
    margin: 0px 5px 0px 0px;
    padding: 0px;
    float: left;
    vertical-align: middle;
    cursor: pointer;
}

.addForm div h2 {
    color: #4D4B4B;
    float: left;
    font-size: 16px;
    margin: 2px 0 0 15px;
    padding: 0;
}

.formContainer {
    padding: 12px 0;
    width: 560px;
    float: left;
    border-right: 1px solid #D2D2D2;
    height: auto;
    display: block;
}

.formContainer select {
    float: left;
    display: block;
}

.formContainer input {
    float: left;
    display: block;
}

.helper {
    font-size: 11px;
}

.formBottomBar {
    border-top: 1px solid #e3e3e3;
    padding: 7px 0 3px;
}

.addimglink {
    float: left;
    margin: 4px 0px 0 10px;
}

.formContainer em { /*padding:0px;margin:0;*/
}

.formContainer .required_field_indicator {
    color: red;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.formContainer ol li {
    display: block;
    float: left;
    font-size: 12px;
    height: auto;
    list-style: none outside none;
    margin: 0;
    padding: 8px 0 8px 20px;
    width: 100%;
}

.formContainer ol li table tr td {
    padding: 2px;
    margin: 0px;
    width: auto;
    height: auto;
}

.formContainer ol li p {
    float: left;
    margin: 0;
    padding: 3px 0 3px 7px;
    width: auto;
}

.formContainer .member_info1 p {
    float: left;
    margin: 0;
    padding: 3px 0 3px 7px;
    width: 95%;
}


/* loading   */
div.loader-wrapper{
        right: 50% !important;
        bottom: 50% !important;
}

.current{

    background-color: #00c7ec !important;
    color: white !important;

}

.pagination-button {
    margin: 0 5px !important ;}



.button {
    margin: 0 5px !important;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    /* line-height: 3em; */
    /* padding-left: 5em;
    padding-right: 5em; */
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.button:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
.button:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}


.card .card-header .md-stepper-horizontal .md-step {
    color: #00c7ec;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.card .card-header .md-stepper-horizontal .md-step:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.card .card-header .md-stepper-horizontal .md-step:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.card .card-header .md-stepper-horizontal .md-step:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
.card .card-header .md-stepper-horizontal .md-step:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transition: none;
    /* -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg); */
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}


/*         report    search        */

div.report-search{
    /* border: 1px solid #ddd; */
    background-color: #fff;
    padding: 3px 15px;
    overflow: hidden;
}
div.report-search div.row > div{
    padding-right: 7px;
    padding-left: 7px;
}
div.report-search div.row .form-group{
    margin-bottom: 2px;
    padding: 0px;
}
div.report-search button{

    max-height: 25px;
    margin: 6% 0%;
    margin-top:15%;
 
}


/* dashboard design css class start */

.app-header {
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: var(--background-color)!important ;
    border-bottom: 1px solid var(--dark_background_color) !important;
    border-top: 1px solid var(--dark_background_color) !important;
}

.app-header .navbar-brand {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent
}

.app-header .navbar-brand .navbar-brand-minimized {
    display: none
}
 
  .app .app-header .navbar-brand .changeColor {
    
    /* background-color: white; */
    min-width:200px;
  }
  .app-header .nav-item .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    padding: 2px 9px 2px 9px;
    border-radius: 7px;
    margin-right: 15px;
    background: #8b5cf6 !important;
    /* box-shadow: 5px 5px 11px #dedede,
                -5px -5px 11px #ffffff; */
    border: 1px solid #8b5cf6;
  }  
  .main .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0rem;
    margin-bottom: 1.5rem;
    list-style: none;
    background-color: var(--dark_background_color);
    border-radius: 0;
    border-bottom: 0px solid #c8ced3;
    font-size: 13px;
   
}
.main .breadcrumb_dual{
    /* border-bottom: 1px solid #cecaca; */
    box-shadow: 1px 1px 2px #302f2f, -1px -1px 2px #0000003d;
    padding-top: 0.5rem;
    margin: 0px 1.05rem;
    border-radius: 3px;
    padding-bottom: -0.1rem;
    margin-bottom: 0.3rem;
}
/* change breadcrumb link color */

.breadcrumb .breadcrumb-item a{
    color: rgb(8, 8, 8);
} 
.breadcrumb .breadcrumb-item .open.active{
    color: rgb(223, 219, 219);
} 
.breadcrumb .breadcrumb-item .active{
    color: rgb(223, 219, 219);
} 

.tab-content .info-box .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: var(--dashboard_deep_color);
}

.main .tab-content {
    background-color: var(--dark_background_color);
    border: 1px solid var(--background-color) !important;
}
.main .tabs{
    background-color: #e4e5e6;
}
.navbar .navbar-nav .badge-success{
    color: black;
    background-color: white;
    font-size: 13px;
    font-weight: normal;
}
.navbar-nav .dropdown-toggle{

    font-size: 12px;
    height: 28px;
    width:auto;
    background:  var(--background-color);
    color: #ffffff;
    border: none;
  
}
#ddown-left .btn-success{
    
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    height: 28px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
    box-shadow: 2px 2px 4px #d2d7da, -2px -2px 4px #ffffff, 
            inset 4px 4px 8px rgba(209, 217, 230, 0.35), 
            inset -4px -4px 8px rgba(255, 255, 255, 0.3);
    
}
#ddown-left.show .btn-success{
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    width:60px;
    color: var(--background-color);
    border-radius: 7px;
    background: #ffffff;
    box-shadow:  2px  1px  2px 0 rgba(0, 0, 0, 0.025),
    4px  2px  4px 0 rgba(0, 0, 0, 0.025),
    8px  4px  8px 0 rgba(0, 0, 0, 0.05),
   16px  8px 16px 0 rgba(0, 0, 0, 0.05),
   32px 16px 32px 0 rgba(0, 0, 0, 0.05),
   64px 32px 64px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.b-nav-dropdown a i{
    font-size: 18px;
}
.dropdown-item i{
    font-size: 11px;
    color: var(--background-color);
   }
.branch div{
    font-size: 10px;
}
.branch div i{
    padding-right: 6px;
    font-size:10px;
    color:var(--background-color);
}
.app .sidebar{
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: var(--background-color);
}
.sham_bar{
    display:none;
}

.tab-content .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    background: var(--background-color);
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -ms-transform: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-transform: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tab-content .box {
    position: relative;
    border-radius: 3px;
    background: var(--background-color);
    border-top: 3px solid var(--background-color);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}
.tab-content .trend-child-card .form-control-sm {
    background: white;
    color: rgb(5, 5, 5);
    font-size: 11px;
    padding: 3px 0px;
}

.tab-content div.trend-card div.multiple {
    font-size: 10px !important;
    background-color: white !important;
}
.tab-content .trend-child-card .form-group {
    float: right;
    margin-bottom: 0px;
    min-width: 50%;
}

.tab-content .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 2px solid var(--dark_background_color);
    padding: 10px;
    background-color: var(--background-color) !important;
}

 /* .box-footer  .trend-child-card .card-header {
    background-color: white;
    color: black;
} */
.tab-content .frequency-chart .card-header {
    background-color: white;
    color: black;
}
.tab-content .trend-child-card .box-footer .card .card-header {
    background-color: white;
    color: black;
}

.tab-content .frequency-chart .card-body {
    background-color: white;
}
.tab-content .box-footer  .trend-child-card  .card-body {
    background-color: white;
}

.table-responsive table.chart-table thead tr th {
    background-color: var(--background-color-light);
    color: black;
}

.table-responsive .table.chart-table tbody tr:nth-child(2n+1) {
    background-color: white;
    color:black;
}

.table-responsive .table.chart-table tbody tr:nth-child(2n) {
    background-color: var(--background-color-light);
    color:black;
}

/*  user role page design css class start */

.card-body .table-responsive .report-table thead tr th{
    background-color: #191818e0;
    color: whitesmoke;
    font-weight: 500;
    border-left: 1px solid rgb(19, 18, 18) !important;
    border-right: 1px solid rgb(19, 18, 18) !important;
}

.card-body .table-responsive .report-table thead th{
    background-color: var(--background-color);
    color: whitesmoke;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

.card-body .table-responsive .report-table tbody tr:nth-child(2n){
    background-color: var(--background-color-light);
    color: whitesmoke;
    font-weight: normal;
}
.main .container-fluid .card-header h5{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}


/* #userform .form-control-sm {
    height: calc(1.5em + 0.5rem + 7px);
    padding: 0.25rem 0.5rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.2rem;
}
*/
 #userform select.form-control {
    display: block;
    /* width: 12%; */
    height: calc(1.5em + 0.75rem + -2px);
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: #fbfbfb8a;
    text-transform: capitalize;
    background-color: var(--widget-three-color) !important;
    background-clip: padding-box;
    border: 1px solid #181a1b;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} 

/* First and Second menu back button css */
#main_menu.btn-danger{
    border-radius:6px;
    background: var(--background-dashboard_deep_color);
    box-shadow:  3px 3px 9px var(--shadow_color_light2),
                -3px -3px 9px var(--shadow_color_light);
    border: 1px solid var(--background-color);
}
#main_menu.btn-danger:hover i{
    color:#7ffffa;
}


/*    left menu style     */
div.sidebar .nav-link{
    padding: .30rem .30rem;
    font-size: 11px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
}
div.sidebar .nav-link>i{
    margin: 0 0.2rem 0 0 !important;
    font-size: 0.70rem !important;
}

/*       form style     */
div.animated div.col{
    padding-right: 6px;
    padding-left: 6px;
}
div.animated .form-group {
    margin-bottom: 2px;
    padding:4px;
}
div.animated .form-group .col-form-label{
    font-size: 11px;
    text-transform: uppercase;
}
div.animated .form-group .form-control{
    /* padding: 0.10rem 0.2rem; */
    padding: 0px 2px;
    line-height: 1.5;
    height: calc(1.2em + 0.5rem + 5px);
    font-size: 12px;
    text-transform: capitalize;
}

div.animated .form-row{
    margin-bottom: 7px;
}

div.search .form-control{ 
    height: calc(1.5em + 0.75rem + -2px);
    min-width: 10%;
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: #fbfbfb8a !important;
    background-color: var(--widget-three-color) !important;
    text-transform: capitalize;
    background-clip: padding-box;
    border: 1px solid #181b1e;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 2px;
    border-radius: 5px;
    background: var(--dashboard_deep_color);
    box-shadow: inset 2px 2px 4px #1f1f1f, inset -2px -2px 4px #313131;
}

div.search .form-inline div.form-control{
    width:100%; 
    height: calc(1.0em + 0.75rem + 1px);
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.entry-list div.advance_search fieldset {
    border: 1px solid #c7cccc;
    padding: 3px;
    background: var(--background-color-light);
    border-radius: 0px;
}

.advance_search{
    padding-top:1px;
    padding-bottom:1px;
}

.advance_search .form-inline .form-control{
    width:12%; 
    height: calc(1.0em + 0.75rem + 1px);
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.search .datepicker{
    /* padding: 0.10rem 0.2rem;
    line-height: 1.5;
    height: calc(1.2em + 0.5rem + 1px);
    font-size: 11px; */

    display: block;
    height: calc(1.0em + 0.75rem + 1px);
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.animated .search #branch_combo_list{
    display: block;
    height: calc(1.0em + 0.75rem + 1px);
    padding: 0px 0.75rem;
    font-size: 11px;
    font-weight: 360;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*       card style     */
div.card{
    font-size: 11px;    
    margin-bottom: .5rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--dashboard_deep_color);
    background-clip: border-box;
    border: 1px solid var(--background-color) !important;
    border-radius: .25rem
}
div.card div.card-header{
    padding: 0.15rem .5rem;
}
div.card div.card-body{
    padding: 5px 15px !important;
}
div.card div.card-footer{
    padding: 0.15rem .5rem;
}

/* admin module css classes */
.card .card-body .table-responsive .table{
    background-color: var(--dashboard_deep_color);
    font-size: 11px;
    margin-bottom: 0px !important;
    margin-bottom: 0rem;
    overflow-x: auto;
    max-width: 100%;
}

.paginate{
    text-align: center;
}
.paginate>div{
    padding-right: 1rem;
}

.search .btn-success{
    /* background-color:var(--background-color); */
    /* border:1px solid var(--background-color); */
    background-color:var(--table_thead_color);
    border:1px solid var(--table_thead_color);
}

.search .btn-success:hover {
    background-color:var(--background-color);
    border:1px solid var(--background-color);
}
.search .btn-success:focus, .btn-success.focus {
    border:1px solid var(--table_thead_color);
    box-shadow: 0 0 0 0.1rem var(--background-color);
}
.search .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.1rem #ffc107;
}

.search .btn-primary{
    background-color:var(--search_and_add_button_color);
    border:1px solid var(--search_and_add_button_color);
    color: white;
    text-transform: capitalize;
}

.report-search .btn-primary{
    background-color:var(--table_thead_color);
    border:1px solid var(--table_thead_color);
}

.search .btn-primary:hover {
    background-color:var(--background-color_stepper_circle);
    border:1px solid var(--background-color_stepper_circle);
}

.report-search .btn-primary:hover {
    background-color:var(--background-color);
    border:1px solid var(--background-color);
}


.search .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.1rem var(--background-color);
}

.report-search .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.1rem var(--background-color);
}
.search .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.1rem #0798ff;
}

.search .btn-danger{
    background-color:#ffb307;
    border:1px solid #ffb307;
    text-transform: capitalize;
    
}
.search .btn-danger i{
    color:white;
}
.report-search .btn-danger{
    background-color:#ffc107;
    border:1px solid #ffc107;
}
.report-search .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.1rem #ffc107;
}

.paginate .btn-secondary {
    color: white;
    background-color: var(--search_and_add_button_color);
    border-color: var(--search_and_add_button_color);
}
.search .btn-sm, .btn-group-sm > .btn {
    padding: 0.1rem 0.5rem;
    font-size: 0.76562rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.animated .card .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--dashboard_deep_color);
    border-bottom:1px solid var(--background-color);
    text-transform: capitalize;
    
    
}
.btn-danger {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
    text-transform: capitalize;
}

.animated .card .card-header .add{
    /* background-color:var(--background-color);
    border:1px solid var(--background-color); */
    background-color:var(--search_and_add_button_color);
    border:1px solid var(--search_and_add_button_color);
    color:white;
    height: calc(1.0em + 0.75rem + 1px);
    margin-right:3px;
    text-transform: capitalize;
}
.animated .card .card-header .add:hover {
    background-color:var(--background-color_stepper_circle);
    border:1px solid var(--background-color_stepper_circle);
    height: calc(1.0em + 0.75rem + 1px);
}
.animated .card .card-header .add:focus, .animated .card .card-header .add.focus {
    box-shadow: 0 0 0 0.1rem var(--background-color);
}

.card-body .modal-primary .modal-header {
    color: #fff;
    background-color: var(--background-color);
    text-transform: capitalize;
}
.card-body .modal-primary .modal-content {
    border-color: var(--background-color);
    border-top: 1px solid #8b5cf6 !important;
    margin-top: 19%;
}
.modal-header .fa-window-close{
  color:white;
}
.card-body .modal-primary .modal-body{
    padding: 16px 25px 10px 25px;
}

/* stepper design member add page */

.card .card-header .md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color:transparent;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .50);
}

.card .card-header .md-stepper-horizontal .md-step:hover{
    background-color:var(--background-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card .card-header .md-stepper-horizontal .md-step.editable{
    background-color:var(--background-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card .card-header .md-stepper-horizontal .md-step.editable .md-step-title.editable{
    font-weight: 600;
    color: white;
}

.card .card-header .md-stepper-horizontal .md-step .md-step-title:hover {

    text-align: center;
    color: white;
    
}
.card .card-header .md-stepper-horizontal .md-step .md-step-circle{
    background-color: var(--background-color_stepper_circle);
}
.card .card-header .md-stepper-horizontal .md-step .md-step-bar-right{
    border-top: 0px ;
}
.card .card-header .md-stepper-horizontal .md-step .md-step-bar-left{
    border-top: 0px ;
}
.main .mega_menu{
    position:fixed;
    z-index: 999;
    background: var(--dashboard_deep_color);
    width: 60%;
    border-radius: 0px 0px 8px 0px;
}

.main .mega_menu .search{
    border-bottom: 1px solid #fff;
    padding-top: 6px;
    background-color: var(--dashboard_deep_color);
}
.main .mega_menu .first_menu{
   
    border-radius:7px;
    min-height: 6.2em;
    background: var(--background-color);
    box-shadow:  5px 5px 10px var(--shadow_color_light2),
                -5px -5px 10px var(--shadow_color_light);
}
.main .mega_menu .first_menu:hover{
   
    border-radius: 7px;
    background: var(--background-color);
    box-shadow: inset 5px 5px 9px var(--shadow_color_light2),
                inset -5px -5px 9px var(--shadow_color_light);
}

.main .mega_menu .first_menu i {
    font-size: 30px;
    height: 23px;
}
.main .mega_menu .first_menu .active i {
    font-size: 30px;
    height: 23px;
    color: #7ffffa;
}
.main .mega_menu .first_menu .active h5 {
    font-size:  1.09375rem;
    color: #7ffffa;
}
.main .mega_menu .second_menu{
    border-radius:7px;
    background: var(--background-color);
    box-shadow:  5px 5px 10px var(--shadow_color_light2),
                -5px -5px 10px var(--shadow_color_light);
    min-height: 85%;
}

.main .mega_menu .second_menu:hover{
    border-radius: 7px;
    background: var(--background-color);
    box-shadow: inset 5px 5px 9px var(--shadow_color_light2),
                inset -5px -5px 9px var(--shadow_color_light);
    min-height: 85%;
}

.report-container .kyc_profile{
    padding: 0px 15px 0px 15px;
    background-color:var(--background-color-light);
}

.card-body .report-table tr th{
    background-color: var(--background-color);
    color: white;
    font-weight: 500;
}

.card-body .report-table tr:nth-child(2n+1) {
    background-color: var(--dashboard_deep_color);
    color:whitesmoke;
}

.card-body .report-table tr:nth-child(2n) {
    background-color: var(--dashboard_deep_color);
    color:whitesmoke;
}

.card-body .report-table tbody:nth-child(2n+1) {
    background-color: var(--dashboard_deep_color);
    color:whitesmoke;
}



.card-body .report-table tbody:nth-child(2n) {
    background-color: var(--dashboard_deep_color);
    color:whitesmoke;
}


.card-body .submit{
    /* margin-left: 43%; */
    height: 25px;
    margin-top: 7px;
}
.card-body .submit button{
    height:25px;
}

.search select.form-control[size], select.form-control[multiple]{
    height: calc(1.0em + 0.75rem + 1px);
}
.envelop .fa-envelope{
    padding: 6px 9px 6px 12px;
    font-size: 15px;
    color: white;
}
.envelop {

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background: var(--dark_background_color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
       
}
.logout_new_version{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #8b5cf6 !important;
    color: white !important;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px; 
}

.user_name{
    padding-left: 0px;
    vertical-align: text-bottom;
    font-size: 11px;
    vertical-align: super;
    font-weight: 500;
}
#report-container .main-content{
    padding:15px;
}

#mra_reports tbody tr th{
    padding-left:.5%;
}
.search .btn-sm{
    margin-top:0px;
}
.card .card-header .btn-sm{
    margin-top:0px;
}

.app-body .sidebar .nav-link.active{
    color: #fff;
    background: var(--dashboard_deep_color);
}

.search div#report-search .form-control-sm {

    padding: 0.15rem 0.2rem;
    font-size: 11px;
    height: calc(1.3rem + 2px);
    width: 100%;

}

.widget-user-header .widget-user-desc > i.fa{
    background: #8b5cf6 !important;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    color: #fff;
}
/* sidebar list style */
                            
.sidebar .nav-item .nav-link:hover{
    background-color:var(--dashboard_deep_color);
    border-left: 2px solid white;
}
.sidebar-minimized .sidebar .nav-item .nav-link:hover {

    background-color:var(--dashboard_deep_color);
}
.sidebar .nav .nav-title{
    font-size: 12px;
}
.sidebar .sidebar-minimizer::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    content: "";
    background-image:url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5px;
    transition: .3s
}
.sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color:  var(--dashboard_deep_color) !important;
}
.sidebar-minimized .sidebar .sidebar-nav {
    padding-bottom: 50px
}
.sidebar-minimized .sidebar .sidebar-minimizer::before {
    width: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.theme_changer {
    background: var(--background-color);
    cursor: pointer;
    width: 4%;
    padding-left: 1%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: inherit;
    margin-left: 96%;
    margin-top: 24%;
}

 /* SideMenu icon css */
 .sidebar .nav-link .nav-icon {

    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: white;
    text-align: center;

}
    /* End Here */

.theme_changer i {
    color: white;
    font-size: 21px;
    line-height: inherit;
}
/* class for report  */
#report-container h2{
    font-size: 15px;
}
#report-container .scroll-report{
    padding: 0px 15px 0px 15px;
}
.report-search-form .col-lg-2 button{
    margin-top:15%;
}
#mra_reports tr td{
    padding:2px;
}
.report-header .acc_report_class th{
    background-color:var(--table_thead_color);
    color:white;
}
.report-header h3,h2{
    font-size: 15px;
}
/* .app .app-body{
    overflow: hidden;
} */
.app .app-footer{
    font-size: 12px;
    background: var(--dark_background_color);
    color: white;
    border-top: 1px solid var(--background-color) !important;
}
.app .app-footer a{
    font-size: 12px;
    color: rgb(24, 124, 163) !important;
} 
/*.report-header table tr th,td{
    padding: .1%;
}*/
.white-overlay{
    display: none;
}
#main_menu.topbar_serach_menu{
    border-radius: 13px;
    background: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 4px #d2d7da, -2px -2px 4px #ffffff, 
            inset 4px 4px 8px rgba(209, 217, 230, 0.35), 
            inset -4px -4px 8px rgba(255, 255, 255, 0.3);
}
.ml-auto.footer_main a{
    color: var(--background-color);
}
#main_menu .form-group{
    margin-bottom: 0px;
  }
  div.notification{
    cursor: pointer;
    padding: 5px 9px 2px 9px;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    margin-left: 8px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
    box-shadow: 2px 2px 4px #d2d7da, -2px -2px 4px #ffffff, 
            inset 4px 4px 8px rgba(209, 217, 230, 0.35), 
            inset -4px -4px 8px rgba(255, 255, 255, 0.3);
  }
  div.notification span{
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 15px;
    display: block;
    text-align: center;
    padding-bottom: 16px;
    font-size: 11px;
    color: #e2dcdc;
    background: #a52424;
    top: 10px;
    margin-left: 8px;
  }
  div.notification i{
    font-size: 15px;
    color: var(--background-color);
  }
  div.notification ul{
    list-style: none;
    display: none;
    background: #ffffff;
    overflow: hidden;
    margin: 0px;
    padding: 5px 5px;
    position: absolute;
    width: 280px;
    right: 30px;
    overflow-y: scroll;
    max-height: 300px;
    z-index: 1;
    box-shadow: 1px 1px 2px #dbdbdb, -1px -1px 2px #dbdbdb;
    border-radius: 7px 0px 0px 7px;
   }
   div.notification ul li{
    box-shadow: 1px 1px 2px #dbdbdb, -1px -1px 2px #ffffff;
    padding: 5px 3px;
    font-size: 12px;
   }
   div.notification ul li:hover{
    border-left-style: solid;
    text-decoration: none;
    border-left-color: var(--background-color);
   }
   div.notification ul li .notify-title{
    font-size: 12px;
    color: #585d5f;
    font-weight: 400;
    white-space: nowrap;
    line-height: 15px;
    margin-bottom: 3px;
   }
   div.notification ul li:hover .notify-title{
    text-decoration: none;
   }
   div.notification ul li .notify-date{
     float: left;
     margin-bottom:0px;
     font-size: 10px;
     font-style: italic;
   }
   div.notification ul li .notify-created{
     float: right;
     margin-bottom:0px;
     font-size: 10px;
      font-style: italic;
   }
   div.notification ul li i{
     font-size: 12px;
   }
    div.notification ul li:last-child{
      border-bottom: 0px solid #a08888;
    }
     div.notification ul li .is-seen{
       background: #c3d6cb;
   }
   div.notification ul li .is-not-seen i{
     color:rgb(151, 10, 10);
   }
   div.notification:hover ul{
     display: block;
   }
   div.notification ul li.notification_header{
     background: var(--background-color);
     color: white;
     text-align: center;
     border-radius: 5px;
     border: 1px solid rgba(255, 255, 255, 0.5);
     box-shadow: 2px 2px 4px #d2d7da, -2px -2px 4px #ffffff, 
          
   }
   div.notification ul::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  div.notification ul::-webkit-scrollbar
  {
      height:7px;
      width:7px;
    background-color: #F5F5F5;
  }

  div.notification ul::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: var(--table_thead_color);
      opacity: 0.4;
  }

  div.notification ul::-webkit-scrollbar-thumb:hover
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color:var(--background-color);
      opacity: 0.9;
  }

            /* Sidebar toggle Button remove Outline and Border */

    .app-header .navbar-toggler {
        min-width: 50px;
        padding: .25rem 0;
        outline:none;
        border: none;
    }

    .app-header .navbar-toggler:hover .navbar-toggler-icon {
        background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjMmYzNTNhJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==)
    }

    .app-header .navbar-toggler-icon {
        height: 23px;
        background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjNzM4MThmJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==)
    }


    .app-header .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
    }
    .bp-dropdown__btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 3px 5px;
        border: none !important;
        cursor: pointer;
        -webkit-transition: background-color .1s ease;
        transition: background-color .1s ease;
        color: #d8d8d8 !important;
        font-size: 13px;
    }
    .bp-dropdown__btn--active {
        background-color:transparent !important;
        color: #b094f1fb!important;
        
    }
    .bp-dropdown__body {
        position: absolute;
        padding: 0px 0px !important;
        color: #d8d8d8 !important;
        background-color: var(--dark_background_color) !important;
        border: 1px solid var(--dark_background_color);
        -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
        z-index: 9999;
        min-width: 65px;
        top: 109px !important;
        left: 411.344px;
        border-left: 2px solid #8b5cf6!important;

    }

    .navbar-nav  .bp-dropdown{
        margin-right: 5px !important;
    }
    .MainTopMenu {
        padding: 0px !important;
    }
    .MainTopMenu .MainTopMenuList{
        list-style: none !important;
        padding: 8px 15px !important;
    }
    .MainTopMenu .MainTopMenuList .MainTopMenuLink{
        text-decoration: none;
        color: #d8d8d8 !important;
    }
    .MainTopMenu .MainTopMenuList:hover{
        text-decoration: none;
        color: white !important;
        background: #8b5cf6!important;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
                
    }
    .MainTopMenu .MainTopMenuList .MainTopMenuLink.MainTopMenuListDisabled{
        color: rgb(90, 88, 88) !important;
        pointer-events: none;
    }
    .NavBarTopMenu{
        /* margin-left: 22%; */
    }
    .atGlanceseeBox{
        padding: 25px;
        background: var(--background-color);
        border-radius: 10px;
        -webkit-box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
        box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
        border: 0;
        
    }
    .atGlanceseeBox .title_atGlanceseeBox{
        color: #d8d8d8!important;
        margin-bottom: 0px;
    }
    .atGlanceseeBox .value_atGlanceseeBox{
        color: #8b5cf6!important;
        margin-bottom: 0px;
        font-size: 25px;
    }
    .atGlanceseeBox:hover .value_atGlanceseeBox{
      
        transform: scale(1.2);
        transition: all 0.3s ease-in-out 0.1s;
        margin-left: 10px;
    
    }
    .atGlanceseeBox .icon_atGlanceseeBox i{
        color: #b094f1fb!important;
    }
    .atGlanceseeBox:hover .icon_atGlanceseeBox img{
        color: #b094f1fb!important; transition: all 0.3s ease-in-out 0.1s;
        transform: scale(1.2);
    }
    .select_for_darkTheme{
        background-color: var(--background-color) !important;
        color: rgb(247, 247, 247) !important;
        border: 1px solid var(--dark_background_color) !important;
        border-radius: 10px !important;
        padding: 8px !important;

    }
    .select_for_darkTheme2{
        background-color: var(--background-color) !important;
        color: rgb(247, 247, 247) !important;
        border: 1px solid var(--dark_background_color) !important;
        border-radius: 10px !important;

    }
    .table_temporary{
        background: var(--dashboard_deep_color);
        padding: 5px !important;
        border-radius: 10px;
    }
    .table_temporary_title{
        color: #d8d8d8!important;
        font-family: Nunito,sans-serif;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .icon_color_temp{
        color: #b69cf3!important;
    }
    .fa_resize{
        font-size: 11px;
        margin-right:4px;
    }
                    /* Modal Dark theme */

    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: var(--background-color) !important;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0
    }

    .modal-primary .modal-content {
        border-color: #ffb307
    }
    
    .modal-primary .modal-header {
        color: #fff;
        background-color: #ffb307
    }
    
    .modal-secondary .modal-content {
        border-color: #c8ced3
    }
    
    .modal-secondary .modal-header {
        color: #fff;
        background-color: #c8ced3
    }
    
    .modal-success .modal-content {
        border-color: var(--search_and_add_button_color)
    }
    
    .modal-success .modal-header {
        color: #fff;
        background-color: var(--search_and_add_button_color)
    }
    
    .modal-info .modal-content {
        border-color: #63c2de
    }
    
    .modal-info .modal-header {
        color: #fff;
        background-color: #63c2de
    }
    
    .modal-warning .modal-content {
        border-color: #ffc107
    }
    
    .modal-warning .modal-header {
        color: #fff;
        background-color: #ffc107
    }
    
    .modal-danger .modal-content {
        border-color: #f86c6b
    }
    
    .modal-danger .modal-header {
        color: #fff;
        background-color: #f86c6b
    }
    
    .modal-light .modal-content {
        border-color: #f0f3f5
    }
    
    .modal-light .modal-header {
        color: #fff;
        background-color: #f0f3f5
    }
    
    .modal-dark .modal-content {
        border-color: #2f353a
    }
    
    .modal-dark .modal-header {
        color: #fff;
        background-color: #2f353a
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(2.0625rem + 2px);
        padding: .375rem .75rem;
        font-size: .875rem;
        line-height: 1.5;
        color: white;
        background-color: var(--shadow_color_light2);
        background-clip: padding-box;
        border: 1px solid var(--shadow_color_light2);
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    .modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #19191a;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem
    }
    
    .modal-header .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto
    }

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0
    }

    .form-control:focus {
        color: #5c6873;
        background-color: #fff;
        border-color: #8ad4ee;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(32, 168, 216, .25)
    }

    .form-control::-webkit-input-placeholder {
        color: #fbfbfb8a;
        opacity: 1
    }

    .form-control::-moz-placeholder {
        color: #fbfbfb8a;
        opacity: 1
    }

    .form-control:-ms-input-placeholder {
        color: #fbfbfb8a;
        opacity: 1
    }

    .form-control::-ms-input-placeholder {
        color: #fbfbfb8a;
        opacity: 1
    }

    .form-control::placeholder {
        color: #fbfbfb8a;
        opacity: 1
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #302f2f;
        opacity: 1
    }

    select.form-control:focus::-ms-value {
        color: #5c6873;
        background-color: #fff
    }

    .form-control-file,
    .form-control-range {
        display: block;
        width: 100%
    }

    /* Search button dark theme */
    
    .btn-success {
        color: #fff;
        background-color: var(--search_and_add_button_color);
        border-color: var(--search_and_add_button_color);
        text-transform: capitalize;
    }
    
    .btn-success:hover {
        color: #fff;
        background-color: var(--background-color_stepper_circle);
        border-color: var(--background-color_stepper_circle);
    }
    
    .btn-success:focus,
    .btn-success.focus {
        box-shadow: 0 0 0 .2rem var(--background-color_stepper_circle)
    }
    
    .btn-success.disabled,
    .btn-success:disabled {
        color: #fff;
        background-color: var(--search_and_add_button_color);
        border-color: var(--search_and_add_button_color)
    }
    
    .btn-success:not(:disabled):not(.disabled):active,
    .btn-success:not(:disabled):not(.disabled).active,
    .show>.btn-success.dropdown-toggle {
        color: #fff;
        background-color: #3a9d5d;
        border-color: #379457
    }
    
    .btn-success:not(:disabled):not(.disabled):active:focus,
    .btn-success:not(:disabled):not(.disabled).active:focus,
    .show>.btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(77, 189, 116, .5)
    }

    .btn-primary {
        color: black;
        background-color: #ffb307;
        border-color: #ffb307;
        text-transform: capitalize;
    }
    
    .btn-primary:hover {
        color: black;
        background-color: #de800c;
        border-color: #de800c
    }
    
    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem #de800c;
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: black;
        background-color: #ffb307;
        border-color: #ffb307
    }
    
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #1985ac;
        border-color: #187da0
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(32, 168, 216, .5)
    }

    .dropdown-menu.show {
        display: block;
        position: absolute;
        will-change: transform;
        top: 10px !important;
        left: 0px;
        transform: translate3d(0px, 28px, 0px);
        border-bottom: none;
        border-top: none;
        border-right: none;
        border-left: 2px solid #8b5cf6 !important;
        outline: none !important;
        background: var(--dashboard_deep_color) !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .app-header .dropdown-item {
        min-width: 180px;
        border: none !important;
        font-size: 12px !important;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .29rem 1.2rem;
        clear: both;
        font-weight: 400;
        color: white !important;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0
    }
    
    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #181b1e;
        text-decoration: none;
        background-color: #f0f3f5
    }
    
    .dropdown-item.active,
    .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #20a8d8
    }
    
    .dropdown-item.disabled,
    .dropdown-item:disabled {
        color: #fbfbfb8a;
        background-color: transparent;
        opacity: 0.3;
    }
    .dropdown-menu.show a {
        color: white;
        text-decoration: none;
        background-color: transparent;
    }
    .btn-group > .btn:focus{
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    .dropdown-menu.show .dropdown-item:hover{
        text-decoration: none;
        color: white !important;
        background: #8b5cf6!important;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
    }
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border-radius: .25rem;
        margin-bottom: 20px;
    }
    