/*          top widget      */
.info-box {
    display: block;
    min-height: 90px;
    /* background: var(--font-color); */
    background: #313348;
    width: 100%;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
    border-radius: 2px;
    color: var(--font-color);
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -ms-transform: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-transform: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.info-box:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.info-box:hover .info-box-icon i{
    /*color: #e8e0e0;*/
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgb(46, 48, 68);
}
.info-box-content {
    padding: 0px 10px;
    margin-left: 90px;
    padding-top: 10px;
    height: 90px;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-text {
    display: block;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-transform: none;
    color: var(--font-color);
    text-shadow: 1px 1px 3px #353333;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
   /* margin: 11%;*/
    margin-top: 20px;
     transition: transform .2s;
}

.info-box:hover .info-box-number{
     -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.info-box-icon .fas{color:var(--font-color);}

/*        end windget      */
.other-box .info-box-number {
    margin: 0px 10px -8px 10px;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 15px -10px 5px -10px;
    height: 2px;
}
.info-box .progress .progress-bar {
    background: var(--font-color);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: var(--font-color);
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-description {
    margin: 0;
        display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*          other widget */

.box-widget {
    border: none;
    position: relative;
    /* background: #353542 !important; */
}
.box {
    position: relative;
    border-radius: 3px;
    background: var(--font-color);
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 20px;
    width: 100%;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}
.box:hover{
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.widget-user-2 .widget-user-header {
    padding-top: 7px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    background: var(--dashboard_deep_color) !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.widget-user-2 .widget-user-desc {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 18px;
    color: var(--font-color);
    background: var(--dashboard_deep_color) !important;
}
.widget-user-desc>i.fa{
	background: #2a2b3d;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    color: var(--font-color);
}
/* .widget-user-desc>i.fa-user{
	background: #986b2385;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    color: var(--font-color);
}
.widget-user-desc>i.fa-handshake-o{
	background: #943327;
    color: var(--font-color);
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;

}
.widget-user-desc>i.fa-money{
	background: #243e4852;
    color: var(--font-color);
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
} */
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #080808;
    padding: 10px;
    background-color: #2a2b3d;
}
.no-padding {
    padding: 0 !important;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
    width: 100%;
}
.nav-stacked>li {
    float: none;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-stacked>li>a {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: default;
}
.nav-stacked>li>a:not([href]):not([tabindex]){
    color: #444;
}
.bg-aqua {
    background-color: #00c0ef !important;
}